html {
  background-color: #000000;
}

/*.main{
  display:flex;
  justify-content: center;
  align-items: center;
}
*/

body{
  /*width: 45%;*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  margin: auto;
  background-color: #004787;
  padding: 20px;
  border: 5px solid white;
}

/*html {
  font-size: 10px; px means 'pixels': the base font size is now 10 pixels high
  font-family: placeholder: this should be the rest of the output you got from Google fonts
}*/

#main_title{
  font-family: 'Kotta One', 'Titillium Web', 'Abel',  serif;
  margin: 0 auto;
  padding: 20px 0 10px 0;
  font-size: 60px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 3px 3px 1px black;
}

#second_p{
  position: relative;
  box-sizing: border-box;
  bottom: auto;
  margin: auto;
  padding: 18px;
  /*width: 30%;*/
  font-size: 10px;
  font-family: 'Kotta One', 'Bubbler One', 'Titillium Web', 'Abel',  serif;
  text-align: center;
  color: #FFFFFF;
}

p, li {
  text-align: left;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: white;
}

#odin{
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 55%;
  padding: 2px 0 20px 0;
  font-size: 40px;
  font-family: 'Kotta One', 'Titillium Web', 'Abel',  serif;
  text-align: center;
}

#a{
  text-decoration: none;
  color: #FFFFFF;
}

#odin:hover, #odin:focus{
  text-shadow: 0 0 7px white;
}

#back{
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 18px;
  width: 30%;
  font-size: 20px;
  font-family: 'Kotta One', 'Bubbler One', 'Titillium Web', 'Abel',  serif;
  text-align: center;
  color: #FFFFFF;
}

#back-link{
  text-decoration: none;
}

#back:hover, #back:focus{
  text-shadow: 0 0 7px white;
}

#github{
  text-decoration: none;
  color: #FFFFFF;
}

#github:hover, #github:focus{
  text-shadow: 0 0 7px white;
}
