/**{
  border:1px solid #000000;
}*/

html {
  background-color: white;
}

body{
  margin: 20px 0 0 0;
  height: 100%;
  background-color: white;
}

.navi{
  display: block;
  height: 30px;
  margin: 0 auto;
}

.nav{
  float: right;
  list-style-type: none;
  font-size: 14px;
  text-align: right;
  margin: 5px 0 0 0;
  padding: 0;
}

#nav{
  display: inline-block;
  float: left;
  padding: 0 15px 0 6px;
}

#nav:hover{
  text-decoration: underline;
}

.google_name{
  position:absolute;
  display: inline-block;
  top: 30%;
  left: 35%;
  margin: auto;
  }

.google{
  display: inline-block;
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%
  /*transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);*/
  margin: auto;
  background-color: white;
}

#G{
  font-family: 'arial', 'Kotta One', 'Titillium Web', 'Abel',  serif;
  font-size: 90px;
  color: blue;
}

#O1{
  font-family: 'arial','Kotta One', 'Titillium Web', 'Abel',  serif;
  font-size: 90px;
  color: red;
}

#O2{
  font-family: 'arial','Kotta One', 'Titillium Web', 'Abel',  serif;
  font-size: 90px;
  color: yellow;
}

#G2{
  font-family: 'arial','Kotta One', 'Titillium Web', 'Abel',  serif;
  font-size: 90px;
  color: blue;
}

#L{
  font-family: 'arial','Kotta One', 'Titillium Web', 'Abel',  serif;
  font-size: 90px;
  color: green;
}

#E{
  font-family: 'arial','Kotta One', 'Titillium Web', 'Abel',  serif;
  font-size: 90px;
  color: red;
}

.search {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dfd;
  border-radius: 2px;
  margin-left: -55px;
}

.search:hover{
  box-shadow: 0 3px 3px rgba(0,0,0,0.1)
}

.searchbutton {
  margin: 20px 0px 0 60px;
  height: 32px;
  padding: 0 16px 0 16px;
  font-weight: bolder;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #757575;
}
.searchbutton:hover  {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  color:#000;
}

.searchbutton2 {
  margin: 20px 0px 0 2px;
  height: 32px;
  padding: 0 16px 0 16px;
  font-weight: bolder;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #757575;
}
.searchbutton2:hover  {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  color:#000;
}

footer{
  list-style-type: none;
  font-size: 12px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  color:#666;
}

.fnav1{
  display: inline-block;
  float:left;
  padding: 0 0 0 5px;
}

#advertising{
  margin-left: 30px;
}

.fnav2{
  display: inline-block;
  float:right;
  padding: 0 5px 0 0;
}
